@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap");
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	list-style: none;
	text-decoration: none;
}
body {
	background: #eff2f1;
	font-family: "Inter", sans-serif;
}
.nav-con {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1.25em 7em;
	background: #3b5d50;
}
.to_fixed_nav {
	position: fixed;
	width: 100%;
}
.logo-con {
	display: flex;
	align-items: center;
}
.logo-con h1 {
	font-size: 2rem;
	color: #fff;
}
.harmburger {
	display: none;
}
.bars {
	height: 2px;
	width: 25px;
	background: #fff;
	display: block;
	border-radius: 5px;
	margin-bottom: 4px;
	cursor: pointer;
}
.logo-con h1 > span {
	color: #879c94;
}
.link_con {
	display: flex;
	align-items: center;
	gap: 2.5em;
}
.link-wrap {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 2em;
}
.link-wrap li a {
	color: #879c94;
	font-size: 1.1rem;
	text-transform: capitalize;
	padding: 7px;
}
.link-wrap li a:hover {
	color: #fff;
}
.acct-con {
	display: flex;
	align-items: center;
	gap: 2em;
}
.acct-con li a {
	padding: 7px;
}
/* ---------------------------- HERO - SECTION ---------------------------- */
.banner-con {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 3.125em 0em 1em;
	background: #3b5d50;
	height: 80vh;
}
article {
	width: 29%;
}
article h2 {
	font-size: 2.1875rem;
	line-height: 42px;
	color: #fff;
	margin-bottom: 1em;
}
article p {
	font-size: 0.9rem;
	line-height: 28px;
	color: #879c94;
	margin-bottom: 1.3125em;
}
article div {
	margin-bottom: 14px;
}
article div button {
	padding: 12px 30px;
	font-size: 1rem;
	font-weight: bolder;
	text-transform: capitalize;
	border-radius: 50px;
	border: none;
	outline: transparent;
	background: #f9bf29;
	cursor: pointer;
}
.btn1 {
	background: transparent;
	border: 1px solid #879c94;
	color: #fff;
	margin-left: 7px;
}
.couch-con {
	display: flex;
	position: relative;
}
.couch-con svg {
	position: absolute;
	top: 8em;
	left: 42.5em;
}
.couch-con img {
	z-index: 1;
	position: relative;
	top: 5em;
	left: 5.5em;
}
/* ----------------------------- CRAFT - SECTION ---------------------------- */
.craft-con {
	padding: 8.125em 7em;
	display: flex;
	align-items: center;
}
article {
	width: 25%;
}
article h3 {
	font-size: 2.1875rem;
	line-height: 42px;
	color: #2f2f2f;
	margin-bottom: 1em;
}
article button {
	padding: 12px 30px;
	font-size: 1rem;
	font-weight: bolder;
	text-transform: capitalize;
	border-radius: 50px;
	border: none;
	outline: transparent;
	background: #2f2f2f;
	color: #fff;
	cursor: pointer;
}
.craft-con div {
	display: flex;
	align-items: center;
	flex: 1;
	gap: 1.5em;
}
.craft-con div section {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	border-radius: 10px;
	cursor: pointer;
	transition:all.5s linear;
}
.craft-con div section:hover{
	background: #DCE5E4;
}
.craft-con div section img {
	width: 80%;
	position: relative;
}
.craft-con div section:hover img {
	top: -5em;
}
.craft-con div section h4 {
	font-size: 1.2rem;
	text-transform: capitalize;
	color: #2f2f2f;
	margin-bottom: 7px;
}
.craft-con div section p {
	font-size: 1.1rem;
	font-weight: bolder;
	color: #2f2f2f;
	/* margin-bottom: 3.125em; */
}
.add-to {
	padding: 10px;
	background: #2f2f2f;
	border-radius: 50px;
	cursor: pointer;
	position: relative;
	top: 1.5em;
	visibility: hidden;
}
.craft-con div section:hover .add-to{
	visibility: visible;
}

/* ------------------------------ MEDIA - QUERIES ------------------------------ */
@media (width <= 768px) {
	.nav-con {
		flex-direction: column;
		padding: 1.25em 10.5px;
		background: #3b5d50;
		position: fixed;
		width: 100%;
		z-index: 20;
	}
	.logo-con {
		width: 100%;
		justify-content: space-between;
	}
	.harmburger {
		display: block;
	}
	.link_con {
		flex-direction: column;
		background: #3b5d50;
		position: absolute;
		top: -50em;
		left: 0;
		width: 100%;
		padding: 20px 10.5px;
		align-items: baseline;
	}
	.show-menu {
		top: 4.9em;
	}
	.link-wrap {
		flex-direction: column;
		align-items: baseline;
		gap: 1.5em;
	}
	/* ----------------------------- HERO - SECTION ---------------------------- */
	.banner-con{
		flex-direction: column;
		padding: 5em 15px 0; 
	}
	article {
	width: 100%;
}
article h2 {
	font-size: 25px;
}
.couch-con svg {
	top: 0em;
	left: 10.5em;
	width: 50%;
}
.couch-con img {
	top: 2em;
	left: 0em;
	width: 100%;
}
/* ----------------------------- CRAFT - SECTION ---------------------------- */
.craft-con {
	padding: 5em 15px;
	flex-direction: column;
	gap: 5em;
}
article {
	width: 100%;
}
article h3 {
	font-size: 22px;
}
.craft-con div {
	flex-direction: column;
	gap: 3.5em;
}
.craft-con div section:hover img {
	top: 0em;
}
.add-to {
	padding: 10px;
	background: #2f2f2f;
	border-radius: 50px;
	cursor: pointer;
	position: relative;
	top: 1.5em;
	visibility: visible;
}
}
